body{
	text-align:center;
}
#container{
	margin:0 auto;
	width:600px;
	height:240px;
}
.form-container {
   border: 1px solid #f2e3d2;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#a8cbf7), to(#ffffff));
   background: -webkit-linear-gradient(top, #a8cbf7, #ffffff);
   background: -moz-linear-gradient(top, #a8cbf7, #ffffff);
   background: -ms-linear-gradient(top, #a8cbf7, #ffffff);
   background: -o-linear-gradient(top, #a8cbf7, #ffffff);
   background-image: -ms-linear-gradient(top, #a8cbf7 0%, #ffffff 100%);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Helvetica Neue',Helvetica,sans-serif;
   text-decoration: none;
   vertical-align: middle;
   min-width:600px;
   padding:20px;
   width:600px;
   }
.form-field {
   border: 1px solid #16074f;
   background: #ffffff;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #000000;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }
.form-field:focus {
   background: #fff;
   color: #6e5232;
   }
.form-container h2 {
    font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
.form-title {
   margin-bottom:10px;
   color: #9e0606;
   }
.submit-container {
   margin:8px 0;
   text-align:right;
   }
.submit-button {
   border: 1px solid #152173;
   background: #d3d2f7;
   background: -webkit-gradient(linear, left top, left bottom, from(#0f28a6), to(#d3d2f7));
   background: -webkit-linear-gradient(top, #0f28a6, #d3d2f7);
   background: -moz-linear-gradient(top, #0f28a6, #d3d2f7);
   background: -ms-linear-gradient(top, #0f28a6, #d3d2f7);
   background: -o-linear-gradient(top, #0f28a6, #d3d2f7);
   background-image: -ms-linear-gradient(top, #0f28a6 0%, #d3d2f7 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7f8bdb 0 1px 0;
   color: #ffffff;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 1px solid #1b1573;
   text-shadow: #0c0c52 0 1px 0;
   background: #3648a3;
   background: -webkit-gradient(linear, left top, left bottom, from(#5a62bf), to(#3648a3));
   background: -webkit-linear-gradient(top, #5a62bf, #3648a3);
   background: -moz-linear-gradient(top, #5a62bf, #3648a3);
   background: -ms-linear-gradient(top, #5a62bf, #3648a3);
   background: -o-linear-gradient(top, #5a62bf, #3648a3);
   background-image: -ms-linear-gradient(top, #5a62bf 0%, #3648a3 100%);
   color: #fff;
   }
.submit-button:active {
   text-shadow: #0c1852 0 1px 0;
   border: 1px solid #153773;
   background: #5a5fbf;
   background: -webkit-gradient(linear, left top, left bottom, from(#3636a3), to(#3648a3));
   background: -webkit-linear-gradient(top, #3636a3, #5a5fbf);
   background: -moz-linear-gradient(top, #3636a3, #5a5fbf);
   background: -ms-linear-gradient(top, #3636a3, #5a5fbf);
   background: -o-linear-gradient(top, #3636a3, #5a5fbf);
   background-image: -ms-linear-gradient(top, #3636a3 0%, #5a5fbf 100%);
   color: #fff;
   }
